/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --ff: "Atkinson Hyperlegible", sans-serif;
    --p: 1.25rem/0.75em var(--ff);
    --color1: hsl(154, 78%, 14%);
    --color2: hsl(156, 89%, 33%);
    --colorw: hsl(0, 0%, 100%);
}

/* Global  */
body {
    margin: 4em;
}

img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    row-gap: 25px;
}

.grid-item {
    text-decoration: none;
    color: var(--colorw);
}

.card {
    background-color: var(--color1);
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: var(--color2);
}


.card-label {
    font: var(--p);
    margin: 0.5em auto;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 50% 50%;
        row-gap: 25px;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 100%;
        row-gap: 20px;
    }
}